@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Nerko+One&display=swap');

:root{
    --primary-color: #009739;
    --secondary-color: #012169;
    --tertiary-color: #fedd00;
    --text-pop-color: white;
    --heading-font: "Nerko One", Georgia, Monteci;
    --paragraph-font: "Carlito", "Sans Serif", Arial;
    --infographic-background-transparent: rgba(24, 238, 106, 0.722);    
    }
body{
    padding:0;
    margin:0;
    background-color: var(--tertiary-color);
}
header, footer {
    background-color: var(--primary-color);
    color: var(--text-pop-color);
    text-align: center;
}

main{    
    display:flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;    
}

img{
    max-width: 85vw;
    height: auto;
}


.infographic{
    max-width: 85vw;    
    margin:1em auto;    
    display:flex;
    flex-direction:column;
    background-color: rgb(254, 255, 232);
    font-size:large;
    align-items:center;
}

.infographic h3{
    background-color: var(--secondary-color);
    width:100%;
    color:aliceblue; 
    padding:.5em;
    text-align: center;
    font-size: 1.3em;
}

#weather-icon{
    max-width: 30vw;
    height:auto;
}
table{
    width:100%;
}

td{
    font-size: .9em;
}

.label{
    font-weight:bold;
    text-align: right;    
}
@media screen and (min-width:1000px){
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    main{
        margin:0;
        padding:0;
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    img{
        max-width: 100%;
    }
    .infographic h3{
        background-color: var(--tertiary-color);
        width:100%;
        color:var(--secondary-color); 
        padding:.5em;
        text-align: center;
        font-size: 1.3em;
    
    }

    .hero {
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display:grid;
        position:relative;
    }
    
    .hero picture {
        grid-column:1 / 4;
        display: block;   
        width: 100%;
        height: 100%;
    }
    #weather-icon{
        width:5em;
        height:auto;
    }
    
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

   .infographic{
        position:absolute;
        z-index:1;
        background-color: var(--infographic-background-transparent);
    }
    #weather{
        grid-column:3/4;
        align-self:flex-end;
    }
    
}
