@media screen and (min-width:1000px){
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    main{
        margin:0;
        padding:0;
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    img{
        max-width: 100%;
    }
    .infographic h3{
        background-color: var(--tertiary-color);
        width:100%;
        color:var(--secondary-color); 
        padding:.5em;
        text-align: center;
        font-size: 1.3em;
    
    }

    .hero {
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display:grid;
        position:relative;
    }
    
    .hero picture {
        grid-column:1 / 4;
        display: block;   
        width: 100%;
        height: 100%;
    }
    #weather-icon{
        width:5em;
        height:auto;
    }
    
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

   .infographic{
        position:absolute;
        z-index:1;
        background-color: var(--infographic-background-transparent);
    }
    #weather{
        grid-column:3/4;
        align-self:flex-end;
    }
    
}
