@media only screen and (orientation: landscape) and (max-width: 720px) {

    
    .footer-logo img {
        padding-top: 1em;
        max-width: 25% ;
        height:auto;
    }
    #testimonial-grid{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .office-info{
        display:flex;
        flex-direction: row;
    }
}