@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Mate:ital@0;1&display=swap');
@media screen and (min-width:500px){
body{
    padding:0;
    margin:0;

}
h1, h2 h3, h4, h5, h6{
    font-size: 2.25em;
}
#temple-figures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em; 
    padding: 1em; 
}
.card{
    width:100%;
}
h2{
    font-size: 2em;
}
nav{
    display:flex;
    flex-direction: row !important;
    justify-content: space-around;
}
nav a{
    font-size:1.25em;
}
footer{
    text-align: center;
}
}