@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');



main {
    display:grid;
    height:100vh;
    grid-template: auto 1fr auto / 2fr auto;
    background-color: #bbc5c9;
    font-family: "M PLUS Rounded 1c", Georgia, Times, 'Times New Roman', serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", helvetica, sans-serif;
}

nav a{
    text-decoration: none;
    color: #F6F6F8;
    font-family: "M PLUS Rounded 1c", Georgia, Times, 'Times New Roman', serif;
}

nav{
    background-color: #6E2020;
    
    display: flexbox;
    
}

header,footer{
    background-color: #2e4052;
    color: #F3EFF5;
    font-family: "Ysabeau", Georgia, 'Times New Roman', Times, serif;
}



aside{
    background-color: #e8ccbf;;
}