@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
    margin:0;
}
header,footer{
    margin: 0;
    background-color: #33691E;
    color: #F3EFF5;
    font-family: "Ysabeau", Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  align-items: center;
}
#namesticker {
    font-size: .85em;
    color:bisque;
}

nav{
    display:flex;
    justify-content: space-around;
    background-color:darkslategrey;
    font-size:1.4em;
}

nav a{
    text-decoration:none;
    color:azure;
}
a {display: inline-block; 
    transition: transform 0.5s ease; 
}
a:hover {
  transform: scale(1.05) rotate(10deg);
}
main {
    display: grid;
   grid-template-columns: 1fr 1fr;
   
   height:100vh; 
   background-color: #DCEDC8;
   font-family: "M PLUS Rounded 1c", Georgia, Times, 'Times New Roman', serif;
}
aside.card{
  grid-column:2/3;
}

.card {
    display: grid;
    background-color:#E3F2E6;
    padding:1em;
    margin:3%;
  border-radius:10px;
  box-sizing: border-box;
}
.about-me{
  grid-column:1/2;
}
.me-paragraph{
  position:relative;
  padding:1em;
}
.me-paragraph img{
  float:left;
   margin: 0 0 .8em .8em;
  max-width:30%;
  height: auto;
}
.me-paragraph p{
  text-align:justify;
}
.fort-wayne{
  position: relative;
  padding:1em;
  
}
.fort-wayne img{
  float:right;
  margin: 0 0 .8em .8em;
  max-width:30%;
  height: auto;
}
.fort-wayne p{
  text-align:justify;
}
.card h2,
.card h3{
  text-align:center;
  border-bottom: 2px solid black;
      margin-bottom: 0.5em;
    padding-bottom: 0.1em; 
    line-height: 1.2; 
}